.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App {
  height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes slide-right-filter {
  from {transform: translateX(0%);}
  to {transform: translateX(100%);}
}

/* #64E3CC */

.filter {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  opacity: 0.3;
  margin: 0;
}
