header {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px;
  height: 20px;
}

a {
  text-decoration: none;
  color: #64E3CC;
}

.visible {
  animation: show 1s linear;
}

.hidden {
}

@@keyframes show {
  from { transition: 0; }
  to { transition: 50px; }
}
