.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-link,
.linkedin-link,
.resume-link {
  height: 32px;
  width: 32px;
  margin: 0 10px;
}

.icon-pop { transition: all .2s ease-in-out; }
.icon-pop:hover { transform: scale(1.1); }
